.navbar{
    background-color:rgb(156, 10, 0)!important;
}
.navbar .navbar-brand{
    color:white!important;
}
.navbar .navbar-brand:hover{
    color:black!important;
}
.navbar-nav li a{
    color:white!important;
}
.navbar-nav li a:hover{
    color:black!important;
}
.navbar .nav-item .dropdown-menu .dropdown-item{
    color:black!important;
    background-color:white!important;
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover{
 color:white!important;
 background-color:rgb(156, 10, 0)!important;
 opacity:.9;
}
.navbar-toggler{


}



/*#carouselExampleCaptions{
	height: 800px;
}*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 100%;
  margin-left: 75px;
}

h1 {
  font-size: 35px;
  word-break: break-all;
  letter-spacing: 2px;
  font-family: cursive;
  background-color:  #D8181B ;
  
  color: white;
  margin-right:930px;
  padding-left: 16px;
  /*padding-right: 10px;*/
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 black;
  
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 21%;
  box-shadow: 0 8px 16px 0px;
  margin-right: 40px;
  margin-top: 20px;
  border: none;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid red;
}



/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;

}
.column:hover{
transition:1s;
      cursor:pointer;
	  transform:scale(1.1);

}
.arteta{
  width: 1090px;
  height: 600px;
  
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 80px;
  
}
.pic1{
  background-color: #050D77;
  margin: 10px;
  grid-row: 1/3;
  background-image: url("/Users/Dell/Desktop/Arsenal/Images//cup.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0;
  border: 1px solid red;

}
.pic2{
  background-color: #050D77;
  margin: 10px;
  background-image: url("/Users/Dell/Desktop/Arsenal/Images//skysports-liverpool-arsenal_5040576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0;
  border: 1px solid red;
  cursor:pointer;



}
.pic3{
  background-color: #050D77;
  margin: 10px;
  background-image: url("/Users/Dell/Desktop/Arsenal/Images/maxresdefault.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0;
  border: 1px solid red;



  
}
.pic4{
  background-color: #050D77;
  margin: 10px;
  grid-column: 2/4;
  background-image: url("/Users/Dell/Desktop/Arsenal/Images/maxresdefault-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0;
  border: 1px solid red;


}
.pic1:hover,.pic2:hover,.pic3:hover,.pic4:hover{
  box-shadow: none;
}
.head{
  font-family: cursive;
  font-size: 35px;
  background-color: #D8181B;
  margin-right: 750px;
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0 8px 16px 0 black;
}
.para2{
font-size:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.footerr{
	height:500px;
	background-image: linear-gradient(to right,black, #421b13,brown);
  color:rgb(222, 200, 200);
  border-radius: 20px;
  width: 95%;
  margin-left: 30px;
  
  margin-top: 40px;

	



}
.me{
	
	margin-left:100px;
	
  width:300px;
  background-image:url("/Users/Dell/Desktop/Arsenal/Images/messi.jpg");

  height: 400px;
  background-position: center;
  background-size: cover;
  float: left;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid white;
  

}
.contact{
	margin-left: 100px;
  color: whitesmoke;
  padding-top: 10px;
}
.des{
  
  height: 200px;
  width: 600px;
  float: left;
  margin-top: 40px;
  
  
  
}
.shadow{
  width: 200px;
}
.title{
  font-size: 20px;
  margin-top: 30px;
  
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-family: fantasy;
  
  font-weight: lighter;
  border-radius: 10px;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  font-weight: bolder;
  
  
}
.para{
  
  padding-left: 5px;
  padding-right: 5px;
  color: grey;
  padding-bottom: 10px;
  border-bottom: 2px solid black ;
  border-radius: 15px;
}
.btn{

}
.heading{
  background-color: rgb(0,0,0,0.7);
  width: 500px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: 540px;
  margin-bottom: 0px;
  font-family: cursive;
  border-right: 4px solid red;
  border-bottom: 4px solid red;
}
.ty{
  background-color: black;
}
.rakin{
  background-color: red;
  height: 200px;
  width: 200px;
}
.about{
  color: white;
  font-weight: bolder;
  font-size: 30px;
  font-family: cursive;
  margin-left: 100px;
  
}
.para4{
  padding-left: 100px;
  margin-top: 15px;
  text-align: justify;
}
.end{
  width: 95%;
  background-image: linear-gradient(to right,black,brown,red);
  height: 70px;
  margin-left: 30px;
  border-radius: 20px;
  margin-top: 5px;
}
.coyg{
  font-family: cursive;
  font-size: 30px;
  color: white;
  margin-left: 590px;
  padding-top: 10px;
}

dag{
      float:left;
	  height:3px;
	  width:50px;
	  background-color:red;
}




}
